<ion-view title="Finanças" id="page2">
  <ion-content padding="true" style="background: url(img/XELn0ojhQ022d2wnE4bc_wallpaper-calculator4-768x432.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="finanAs-form1" class="list">
      <label class="item item-input" id="finanAs-input2">
        <span class="input-label">Nome:</span>
        <input type="text" placeholder="Digite o nome">
      </label>
      <label class="item item-input" id="finanAs-input3">
        <span class="input-label">Valor:</span>
        <input type="number" placeholder="Digite o valor">
      </label>
      <h4 id="finanAs-heading1" style="color:#FFFFFF;text-align:center;">Lucro ou Despesa</h4>
      <ion-radio id="finanAs-radio3" name="radio" class="radio">Lucro</ion-radio>
      <ion-radio id="finanAs-radio4" name="radio" class="radio">Despesa</ion-radio>
      <button id="finanAs-button1" class="button button-positive button-block icon ion-android-add"></button>
    </form>
    <form id="finanAs-form2" class="list">
      <label class="item item-input" id="finanAs-input5">
        <span class="input-label">Total de despesas:</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="finanAs-input7">
        <span class="input-label">Total de lucro:</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="finanAs-input6">
        <span class="input-label">Total:</span>
        <input type="number" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>