<ion-view title="Lucro" id="page3">
  <ion-content padding="true" style="background: url(img/X4LQ6qIWSLOKXmWwpj5I_wallpaper-calculator4-768x432.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="lucro-list1">
      <ion-item id="lucro-list-item4">Nome</ion-item>
      <ion-item id="lucro-list-item5">Valor</ion-item>
    </ion-list>
    <div class="spacer" style="height: 28px;"></div>
    <ion-list id="lucro-list5">
      <ion-item id="lucro-list-item19">Nome</ion-item>
      <ion-item id="lucro-list-item20">Valor</ion-item>
    </ion-list>
  </ion-content>
</ion-view>